
<section class="navegacion">
    <div class="navcont">
          <h3>Mi Pagina</h3>
         
          <nav>
              <ul>
                  <li><span><i class="fas fa-home"></i></span><a href="/">Home</a></li>
                  <li><a href="/nosotros">Nosotros</a></li>
                  <li><a href="#">Contacto</a></li>
              </ul>
          </nav>
    </div>
 </section>

